@using DerethForever.Web.Controllers;
@using Lifestoned.DataModel.Gdle.Recipes;
@model uint?

@{
    ViewBag.Title = "Edit Recipe";
}

<br />

@using (Html.BeginForm("Edit", "Recipe", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="btn-toolbar stuck">
        <div class="btn-group-vertical" role="group">
            <button id="btnSave" type="button" class="btn btn-primary" title="Save"><i class="glyphicon glyphicon-floppy-save"></i></button>
            <a href="@Url.Action("Edit", "Recipe", new { id = Model })" class="btn btn-primary" title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Delete", "Recipe", new { id = Model })" class="btn btn-primary" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
            }
            <button id="btnDownload" type="button" class="btn btn-primary" title="Download live edits"><i class="glyphicon glyphicon-download"></i></button>
        </div>

        <ul class="btn-group-vertical nav" role="group">
            <li><a data-toggle="tab" href="#general" class="btn btn-primary" title="General Properties"><i class="glyphicon glyphicon-list"></i></a></li>
            <li><a data-toggle="tab" href="#reqs" class="btn btn-primary" title="Requirements"><i class="glyphicon glyphicon-check"></i></a></li>
            <li><a data-toggle="tab" href="#mods" class="btn btn-primary" title="Mods"><i class="glyphicon glyphicon-wrench"></i></a></li>

            <li><a data-toggle="tab" href="#precursors" class="btn btn-primary" title="Precursors"><i class="glyphicon glyphicon-random"></i></a></li>
            <li><a data-toggle="tab" href="#history" class="btn btn-primary" title="Change Log / History"><i class="glyphicon glyphicon-calendar"></i></a></li>
        </ul>
    </div>

    <div id="app" class="form-horizontal">
        <lsd-recipe ref="recipe" recipe-id="@(Model)"></lsd-recipe>
    </div>

}

@section scripts {
    @Scripts.Render("~/ui/shared", "~/ui/recipe")
    
    <script>
        Vue.use(RecipeStore);
        var recipeStore = makeRecipeService(@(Model));

        var app = new Vue({
            el: '#app',
            recipeStore: recipeStore
        });

        function validate() {
            var valid = $('form')[0].reportValidity();
            if (!valid) {
                alert('Please correct data errors before saving');
            }
            return valid;
            //var cl = recipeStore.recipe.userChangeSummary;
            //if (!cl || cl.length == 0) {
            //    $("a[href='#history']").click();
            //    alert("Update Change Log before saving");
            //    return false;
            //} else {
            //    return true;
            //}
            //return true;
        }

        $(document).ready(function () {
            $('#btnSave').click(function (e) {
                if (validate())
                    recipeStore.save();

                e.preventDefault();
                e.stopPropagation();
            });

            $('#btnDownload').click(function (e) {
                downloadData(recipeStore.recipe, recipeStore.recipe.desc);
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>
}
