﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestoned - @ViewBag.Title</title>
    @RenderSection("metaCard", required: false)

    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/site")
    @Html.Partial("_Favicons")

    <script type="text/javascript">
        /* autofocus fix */
        $(function () {
            $('[autofocus]').focus();
        });
    </script>
</head>

@{
    string ctrl = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<body data-spy="scroll" data-target=".navbar">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(@ctrl == "WorldRelease" ? "active" : "")">@Html.ActionLink("Releases", "Index", "WorldRelease")</li>
                    <li class="@(@ctrl == "Content" ? "active" : "")">@Html.ActionLink("Content", "Index", "Patch")</li>
                    <li class="@(@ctrl == "Recipe" ? "active" : "") dropdown">
                        @Html.ActionLink("Recipes", "Index", "Recipe", null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Upload JSON Data", "Upload", "Recipe")</li>
                            <li>@Html.ActionLink("New", "Edit", "Recipe")</li>
                        </ul>
                    </li>
                    <li class="@(@ctrl == "Weenie" ? "active" : "") dropdown">
                        @Html.ActionLink("Weenies", "Index", "Weenie", null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Upload JSON Data", "Upload", "Weenie")</li>
                            <li>@Html.ActionLink("Recent Changes", "Recent", "Weenie")</li>
                            <li>@Html.ActionLink("New", "New", "Weenie")</li>
                        </ul>
                    </li>
                    <li class="@(ctrl == "Spawn" ? "active" : "") dropdown">
                        @Html.ActionLink("Spawns", "Index", "Spawn", null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Upload JSON Data", "Upload", "Spawn")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        @*@if (User.Identity.IsAuthenticated)
        {
            <div class="container navbar-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Weenies", "Sandbox", "Weenie")</li>
                    <li>@Html.ActionLink("Spawns", "Sandbox", "Spawn")</li>
                </ul>
            </div>
        }*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Lifestoned &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://discord.gg/ArdbxEm" title="Join us on Discord"><img src="~/images/discord.png" height="35dp" /></a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
