﻿@using DerethForever.Web.Controllers
@model Lifestoned.DataModel.Gdle.WeenieChange

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#discussion@(Model.Entry.WeenieClassId)" data-toggle="collapse" aria-expanded="false">Discussion</a>
    </div>
    <div id="discussion@(Model.Entry.WeenieClassId)" class="panel-collapse collapse panel-body">
        <div class="panel-group">
            @for (int i = 0; i < (Model.Discussion?.Count ?? 0); i++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.Raw(Html.Encode(Model.Discussion[i].UserName + " on " + Model.Discussion[i].Created.ToString("g")))
                    </div>
                    <div class="panel-body text-prewrap">@Html.Raw(Html.Encode(Model.Discussion[i].Comment))</div>
                </div>
            }

            @if ((Model.Discussion?.Count ?? 0) == 0)
            {
                <p>No comments.</p>
            }
        </div>
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#modal-discussion"
                    data-user="@(Model.UserGuid)" data-item="@(Model.Entry.WeenieClassId)">
                Add Comment
            </button>
        </div>

    </div>

</div>
